# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-maven

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Java CI with Maven

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
 
jobs:
  build:
    runs-on: ubuntu-latest  # Changed from self-hosted
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
      - name: Build Maven
        run: mvn clean package -DskipTests
      - name: Upload JAR artifact (GitHub)
        uses: actions/upload-artifact@v4
        with:
          name: maven-hello-world
          path: target/maven-hello-world-1.0.jar

        run: |
          FILE=target/maven-hello-world-1.0.jar
          VERSION=1.0
          GROUP_ID=com.example
          ARTIFACT_ID=maven-hello-world

 
